<section class="row g-3 g-md-5 pb-md-5 mb-5 align-items-center">
  <div class="col-lg-6">
    <div class="masthead-followup-icon d-inline-block mb-3" style="--bg-rgb: var(--bs-danger-rgb);">
      {{ partial "icons/icon-pipeline.svg" (dict "width" "32" "height" "32") }}
    </div>
    <h2 class="display-5 mb-3 fw-semibold lh-sm">Build Pipelines fast</h2>
    <p class="lead fw-normal">
      To create a pipeline, drag multiple jobs to the pipeline workspace and connect them together.
    </p>
    <p class="lead fw-normal">
      Pipeline supports concurrent execution and concurrency control.
    </p>
    <p class="d-flex justify-content-start lead fw-normal mb-md-0">
      <a href="/docs/{{ .Site.Params.docs_version }}/pipeline-tutorial/general/" class="icon-link fw-semibold">
        Get Flomi Pipelines
        <svg class="bi"><use xlink:href="#arrow-right-short"></use></svg>
      </a>
    </p>
  </div>
  <div class="col-lg-6">
      <img class="img-fluid mt-3 mx-auto"
                                          src="/docs/{{ .Site.Params.docs_version }}/assets/img/flomi-add-stage.gif"
                                          alt="Bootstrap Icons" width="700" height="600" loading="lazy">
  </div>
</section>
